
{% extends "base.html" %}

{% block title %}
ChangePassword
{% endblock %}

{% block page_content %}


<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Select Options</h3>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Settings</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href={{url_for('create_user')}}>New User</a>
                    </li>
                    <li class="active">
                        <a href={{url_for('change_password')}}>Change Password</a>
                    </li>
                     <li>
                        <a href={{url_for('delete_user')}}>Delete User</a>
                    </li>
                </ul>
            </li>
             <li>
                <a href="{{url_for('dashboard')}}">Dashboard</a>
            </li>
            <li>
                <a href={{url_for('new_entry')}}>New Entry</a>
            </li>
            <li>
                <a href={{url_for('Invoice')}} target="_blank">Invoice</a>
            </li>
             <li>
                <a href={{url_for('logout')}}> Logout </a>
            </li>
        </ul>
    </nav>
</div>




<div class="container-fluid">

            <form action="/change_password" method="post" enctype="multipart/form-data">

                 <fieldset>

                    <br>
                    <br>
                    <br>
                    <br>
                    <br>

                    <div class="row">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="username"><span class="FieldInfo">Username</span> </label>
                            <input class="form-control" type="text" name="username" id="username" placeholder="username" >
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="password"><span class="FieldInfo">New Password</span> </label>
                            <input class="form-control" type="password" name="password" id="password" placeholder="password" >
                        </div>
                    </div>
                    <div class="col-md-2">
                    </div>
                    </div>

                    <br>
                    <br>
                    <br>

                    <div class="row">
                         <div class="col-md-4">
                        </div>



                    <div class="col-md-4">
                        <input class="btn btn-success btn-block" type="Submit" name="Submit" value="Change Password">
                    </div>

                    </div>
                </fieldset>

            </form>
</div> <!-- Ending of Container-->
{% endblock %}
