
{% extends "base.html" %}

{% block title %}
DeleteUser
{% endblock %}

{% block page_content %}

<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Select Options</h3>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Settings</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                   <li>
                        <a href={{url_for('create_user')}}>New User</a>
                    </li>
                    <li>
                        <a href={{url_for('change_password')}}>Change Password</a>
                    </li>
                     <li class="active">
                        <a href={{url_for('delete_user')}}>Delete User</a>
                    </li>
                </ul>
            </li>
             <li>
                <a href="{{url_for('dashboard')}}">Dashboard</a>
            </li>
            <li>
                <a href={{url_for('new_entry')}}>New Entry</a>
            </li>
            <li>
                <a href={{url_for('Invoice')}} target="_blank">Invoice</a>
            </li>
             <li>
                <a href={{url_for('logout')}}> Logout </a>
            </li>
        </ul>
    </nav>
</div>




    <div class="container-fluid">
      <h2 class="text-center">Item List</h2>
      <div class="row">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Action</th>
                </tr>
              </thead>
                <tbody>
                  {% for row in userlist %}


                   <tr>
                       <td>{{row['username']}}</td>
                       <td>{{row['password']}}</td>
                    <td>
                            <a href="{{ url_for('deletinguser', username=row.username)}}">
                            <span class="btn btn-danger">Delete</span>
                        </a>
                    </td>
                   </tr>

                {% endfor %}


               </tbody>
            </table>
          </div>
        </div>
      </div>

{% endblock %}
