{% extends "base.html" %}

{% block title %}
NewEntry
{% endblock %}

{% block page_content %}

<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Select Options</h3>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Settings</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href={{url_for('create_user')}}>New User</a>
                    </li>
                    <li>
                        <a href={{url_for('change_password')}}>Change Password</a>
                    </li>
                     <li>
                        <a href={{url_for('delete_user')}}>Delete User</a>
                    </li>
                </ul>
            </li>
             <li>
                <a href="{{url_for('dashboard')}}">Dashboard</a>
            </li>
            <li class="active">
                <a href={{url_for('new_entry')}}>New Entry</a>
            </li>
            <li>
                <a href={{url_for('Invoice')}} target="_blank">Invoice</a>
            </li>
             <li>
                <a href={{url_for('logout')}}> Logout </a>
            </li>
        </ul>
    </nav>
</div>




<div class="container-fluid">
<br>
    <br>
            <form action="/New_Entry" method="post" enctype="multipart/form-data">
                <fieldset>

                    <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="date"><span class="FieldInfo">Date:</span> </label>
                            <input class="form-control" type="Date" name="date" id="Date" placeholder="Date" value="{{ request.form['date'] }}" >
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="prdct"><span class="FieldInfo">Product:</span> </label>
                            <input class="form-control" type="text" name="prdct" id="prdct" placeholder="product"  value="{{ request.form['prdct'] }}">
                        </div>
                    </div>
                    </div>

                    <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="rate"><span class="FieldInfo">Rate:</span> </label>
                            <input class="form-control" type="text" name="rate" id="rate" placeholder="per kg or per item" value="{{ request.form['rate'] }}">
                        </div></div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="qty"><span class="FieldInfo">Quantity:</span> </label>
                            <input class="form-control" type="text" name="qty" id="qty" placeholder="number" value="{{ request.form['qty'] }}">
                        </div></div>
                    </div>

                    <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="gst"><span class="FieldInfo">GST</span> </label>
                            <input class="form-control" type="text" name="gst" id="gst" placeholder="gst" value="{{ request.form['gst'] }}">
                        </div></div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="stax"><span class="FieldInfo">Service Tax:</span> </label>
                            <input class="form-control" type="text" name="stax" id="stax" placeholder="s.tax" value="{{ request.form['stax'] }}">
                        </div></div>
                    </div>


                    <div class="row">
                    <div class="col-md-6">


                        <br>
                        <br>
                    <div class="col-md-7 col-md-offset-1 center">
                        <input class="btn btn-success btn-block" type="Submit" name="Submit" value="Add New Entry">
                    </div>
                        <br>
                        <br>
                     <div class="col-md-7  col-md-offset-1 center">
                        <input class="btn btn-success btn-block" type="Submit" name="Submit" value="Generate Invoice">
                    </div>

                    </div>
                    <div class="col-md-6 pull-right">
                        <br>
                        <br>


                        <table class="table table-hover table-bordered text-right">
                            <tr>
                                <td style="width: 40%;"></td>
                                <td style="width: 60%;"
                                    class="amount"></td>
                            </tr>
                            <tr>
                                <td><b>Sub Total</b></td>
                                <td class="amount"><b>{{totallist[0]}}</b></td>
                            </tr>
                            <tr>
                                <td class="amount"><b>GST</b></td>
                                <td><b>{{totallist[1]}}</b></td>
                            </tr>
                            <tr>
                                <td class="amount"><b>Service Tax</b></td>
                                <td><b>{{totallist[2]}}</b></td>
                            </tr>
                            <tr>
                                <td class="amount"><b>Total</b></td>
                                <td><b>{{totallist[3]}}</b></td>
                            </tr>
                        </table>

                    </div>
                    </div>


                </fieldset>

            </form>
</div> <!-- Ending of Container-->>


{% endblock %}
