


{% extends "base.html" %}

{% block page_content %}




<div class="container page-form text-center">


     <div class="row">
    <div class="col-xs-4 col-xs-offset-4 text-center">

    <form id="login-form" action="/auth/add_user" method="post">
        <div class = "form-group">
            <label for="email">Email</label>
            <input type="text" id="email" class="form-control" name="email">
        </div>
        <div class = "form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-success">Add New User</button>

    </form>
            </div>
        </div>
</div>

{% endblock %}